# Exclude Docker related files
.dockerignore
Dockerfile
docker-compose.yml

# Exclude Python virtual environment
/env

# Exclude frontend build artifacts
#/frontend/build
#!/frontend/build/static/

# Exclude database image and related files
/db
/dockerImages

# Exclude other files or directories you want to ignore
notes.txt
README.md

