/* RoomList.css */

/* Room List */
.room-list {
  /* width: 100%; */ 
  margin-right: auto;
  padding: 1px;
}

.room-list-container {
  width: 17%;
  margin-right: auto;
  padding: 16px;
  border: 1px solid #e0e0e0; /* Add border in a light shade of grey */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.room-list-header h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

/* Room List Header */
.room-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Room Card */
.room-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
}

/* Room Details */
.room-details {
  flex: 1;
  margin-right: 16px;
}

/* Buttons Container */
.buttons-container {
  display: flex;
  gap: 8px;
}

/* Edit Button */
.edit-button {
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Delete Button */
.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  max-width: 400px;
}

/* Popup Buttons Container */
.popup-content .buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/* Update Button */
.update-button,
.create-button {
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Cancel Button */
.cancel-button {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

